body {
  background: url("../../assets/background/vintage-concrete/vintage-concrete.png");
  /* background-repeat: repeat; */
  /* padding-top: 66px; */
}

nav .nav-title{
  color: white;
}
nav {
  /* background-image: linear-gradient(black, rgba(0,0,0,0)); */
  background-color: black;
  /* height: 10vh; */
  /* border-bottom: solid 10px black; */
  margin-bottom: 10px;
}
nav div ul li a:hover {
  border-bottom: 3px solid rgb(143, 6, 5);
}
.active {
  border-bottom: 3px solid rgb(143, 6, 5);
}

/*======================================================================*/
/* Gallery */
/*======================================================================*/
#home, #land {
  margin: 0 5px 0 10px;
}
#facilities, #water {
  margin: 0 10px 0 5px;
} 
#facilities, #home {
  margin-bottom: 10px;
}

#album-container {
  height: 100vh;
  /* border: purple 5px solid; */
  padding: 0;
}

#home {
  background-image: url("../../assets/images/patio/75_Fluharty Farms - 1st Session.jpg");
}
#facilities {
  background-image: url("../../assets/images/gold/img_2011.jpg");
}
#land {
  background-image: url("../../assets/images/gold/img_2468.jpg");
}
#water {
  background-image: url("../../assets/images/gold/dji_0524.jpg");
}

.album {
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(50% - 15px); 
  width: calc(50% - 15px); 
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  float: left;
  border: solid 4px black;
}

/* .album-img {
  border: black solid 3px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  width: 100%;
} */

#gallery {
  /* background: rgb(143, 6, 5); */
  /* border: solid 4px black; */
  /* margin-top: 30px;
  margin-bottom: 30px; */
  padding-top: 30px;
  /* max-width: 80vw; */
  /* margin: 0 auto; */
}
.frame {
  border: solid 4px black;
  object-fit: cover;
  width: 300px;
  height: 200px;
  /* display: block; */
  /* max-width:300px;
  max-height:200px;
  width: auto;
  height: auto; */
  margin: 0 10px 20px;
  transition: 1s;
  /* min-width: 150px; */
}
.frame:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

/*======================================================================*/
/* Media Queries */
/*======================================================================*/
/* @media (min-width: 768px) { 
  #home, #land {
    padding: 0 5px 0 10px;
  }
  #facilities, #water {
    padding: 0 10px 0 5px;
  } 
  #facilities, #home {
    padding-bottom: 10px;
  }

  body {
    padding-top: 91px;
  }
} */