body {
  background-image: url("../../assets/background/vintage-concrete/vintage-concrete.png");
  
}

nav .nav-title{
  color: white;
}
nav {
  background-color: black;
  
}
nav div ul li a:hover {
  border-bottom: 3px solid rgb(143, 6, 5);
}
.active {
  border-bottom: 3px solid rgb(143, 6, 5);
}

/*======================================================================*/
/* Map */
/*======================================================================*/

#map {
  line-height: 0;
  padding: 10px;
}
#map iframe {
  padding: 0 ;
  border: black 4px solid;
  min-height: 88vh;
}

/* .clearfix {
  content: "";
  clear: both;
  display: table;
} */



/*======================================================================*/
/* Media Queries */
/*======================================================================*/
/* @media (min-width: 768px) { 

} */