/*======================================================================*/
/* General */
/*======================================================================*/
/* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

* {
  /* box-sizing: border-box; */
  color: lightgray !important;
  /* border: solid 1px red; */
}

body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  background: black;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

/* Text */
#intro-title {
  padding-top: .5%;
  font-size: 45px;
  text-decoration: underline;
}
#intro-content {
  padding-top: .5%;
  font-size: 17px;
  /* padding: 0 200px; */
  /* border-bottom: solid 5px black; */
}

/*======================================================================*/
/* Navbar */
/*======================================================================*/
#navbar {
  width: 100%;
  position: fixed;
  /* font-size: 1vw; */
  font-size: 19px;
  /* background: rgb(0, 0, 0, .25); */
  /* border-bottom: solid 5px black; */
  padding: 0 100px !important;
}
#nav-bg {
  height: 20vh;
  background-image: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,0));
  width: 100%;
  position: fixed;
}

/*======================================================================*/
/* Landing */
/*======================================================================*/
#main-background {
  width: 100%;
  height: 100vh;
  background-position: 50% 80%;
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.bottom_aligner {
  padding-bottom: 45vh;
}

#intro {
  min-height: 70vh;
  /* border-bottom: solid 5px black; */
  padding: 10px 100px 10px;
  word-wrap: break-word;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1));
  /* background: rgb(143, 6, 5); */
  
}

/*======================================================================*/
/* Gallery */
/*======================================================================*/
.container {
  background: lightgrey;
  border: solid 4px black;
  margin-top: 30px;
  margin-bottom: 30px;
}

#photos {
  /* padding: 20px 200px; */
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  /* border: solid 2px red; */
}

.col-md-4 {
  /* border: solid 2px purple; */
}

.frame {
  border: solid 4px black;
  object-fit: cover;
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  /* min-width: 150px; */
}
.frame:hover {
  border: solid 4px black;
  position: relative;
  top: -30px;
  left: -40px;
  width: 900px;
  height: 500px;
  /* display: block; */
  z-index: 999;
}