/*======================================================================*/
/* General */
/*======================================================================*/

/* Hide Scrollbar -----------------------------------------------------*/
html {
  overflow: scroll;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
/*----------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  color: lightgray;
  /* margin: 0 auto; */
  /* border: solid 1px red; */
}

body {
  /* font-family: 'Chivo', sans-serif;
  font-weight: 300;
  background: black;
  background-image: url("../images/01-fluarty-farms_orig.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-image: url("../../assets/images/gold/dji_0524.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; 
  width: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* padding-top: 66px */
  
}

/*======================================================================*/
/* Navbar */
/*======================================================================*/
#navbar {
  width: 100%;
  font-size: 19px;
  /* padding: 0 100px !important; */
  font-weight: bold;
  /* min-height: 13vh; */
}
#navbar a{
  cursor: pointer;
}

#logo {
  /* opacity: .8; */
  padding-right: 10px;
  height: 50px;
  width: auto;
}

.nav-link {
  padding: 0;
  /* closer bottom border */
  display: inline;
}

nav .nav-title{
  font-size: 15px;
  color: white;
  text-shadow: -2px 2px black;
  text-decoration: none;
  /* border-bottom: 3px solid rgb(0,0,0,0); */
}
/* nav .nav-title:hover {
  text-decoration: none;
  border-bottom: 3px solid rgb(143, 6, 5);
} */

/* nav div ul li a {
  border-bottom: 3px solid rgb(0,0,0,0);;
} */
nav div ul li a:hover {
  border-bottom: 3px solid rgb(143, 6, 5);
}
.active {
  border-bottom: 3px solid rgb(143, 6, 5);
}

/*======================================================================*/
/* Landing */
/*======================================================================*/
#top {
  height: 100vh;
}

#circle-down-container, #circle-up-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
#circle-down-container i, #circle-up-container i {
  color:lightgray;
  opacity: .8;
  cursor: pointer;
}

/*======================================================================*/
/* About */
/*======================================================================*/
#about-section {
  background: rgba(87, 87, 87, 0.6);
  backdrop-filter: blur(2px);
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

#intro-section {
  font-size: 14px;
}

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

/*======================================================================*/
/* Media Queries */
/*======================================================================*/
@media (min-width: 576px) { 
  #logo {
    height: 75px;
  }
  /* body {
    padding-top: 91px;
  } */
  nav .nav-title {
    font-size: 22px
  }
  #intro-section {
    font-size: 18px;
  }
}

@media (min-width: 768px) { 
  #intro-section {
    font-size: 20px;
  }
 }


@media (min-width: 992px) { 
  #intro-section {
    font-size: 22px;
  }
 }


@media (min-width: 1200px) { 
  #intro-section {
    font-size: 24px;
  }
 }







