.slide {
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.img1 {
  background-image: url("./images/drone/DJI_0180.JPG");
}
.img2 {
  background-image: url("./images/ironwood/fullsizeoutput_1103.jpeg");
}
.img3 {
  background-image: url("./images/ironwood/fullsizeoutput_1109.jpeg");
}
